.botao00 {
    border: solid #666 1px;
    padding: 10px;
    margin: 10px;
    border-radius: 0px;
    background-color: #000;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

.botao00:hover, 
.botao00:active, 
.botao00:focus {
    background-color: #222;
    border: solid #fff 1px;
}
