.correct {
    color: rgb(70, 128, 70);
    font-family: monospace, 'Courier New', Courier;
}

.incorrect {
    color: rgb(255, 91, 91);
    font-family: monospace, 'Courier New', Courier;
}
input {
    width: 0px;
    background-color: transparent;
    color: transparent;
    border: solid transparent 1px;
    outline: none;
    height: 0px;
}
#text-display {
    width: 100%;
    padding: 220px;
    color: #333;
    font-family: monospace, 'Courier New', Courier;
    border: solid transparent 1px;
}

@media (max-width: 768px) {
    #text-display {
        width: 100%;
        padding: 5px;
    }
}
.areaDigitar {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column; /* Coloca os itens abaixo do outro */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    font-size: 18px;
}
#status {
    display: none;
}
#time {
    display: none;
}
#wpm {
    display: none;
}
.btnaba {
    margin-bottom: 100px;
}
@media (max-width: 768px) {
    .btnaba {
        margin-bottom: 10px;
    }
}