/* formatação de modal */
.modal1,
.modal2 {
    background-color: transparent;
}
.modal-dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	height: 100%;
	margin: 0 auto;
}
.modal-content {
	width: 95%;
	max-width: 800px; /* Limita o tamanho no desktop */
}